---
// src/components/WaveDivider.astro
---

<div 
  class="fixed left-0 bottom-0 w-screen h-[80px] md:h-[100px] xl:h-[120px] pointer-events-none z-30"
  style="min-width: 100vw;"
>
  <svg 
    viewBox="0 0 1440 100"
    preserveAspectRatio="none"
    class="block w-full h-full"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path 
      d="M0,50 C240,90 480,20 720,50 C960,80 1200,10 1440,50 L1440,100 L0,100 Z"
      class="fill-current text-light-gray" />
  </svg>
</div>
